@import "./Variables.scss";

.footer-container{
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;


    margin-top: 10%;
    box-shadow: 0px 0px 10px 2px black;
    background-color: $colorOne;
}