@import "./Variables.scss";

.footer-container{

    opacity: 0; /* Start with 0 opacity */
    animation-name: fadeIn; /* Use the fadeIn animation */
    animation-duration: 2s; /* Animation duration */
    animation-delay: 15.5s; /* Delay before animation starts */
    animation-fill-mode: forwards; /* Maintain opacity after animation */

    p{

        font-family: 'Permanent Marker', cursive;
        font-size: 2rem;
        // border-color: red dotted 4px;
        color: black;
        -webkit-text-stroke: 1px #33FF33;
    }
    
    Button{
        background-color: rgba(0, 0, 0, 0.8);
        margin-top: 2vw;
        margin-bottom: 2vw;
        color: white;
        border-color: $colorOne;
    }
    
}