@import "./Variables.scss";

.spockhands{
    height: 100%;
    width: 5%;
}



.box-one {
    
    ul{
        list-style-type: none;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.3rem;

    }
    background-color: white;
    display: flex;
    // border: 2px dotted red;
    margin: 10% 0%;
    padding: 2% 0%;
    box-shadow: 0px 0px 10px 0px black;
    
    .img-background{
        background-color: $colorOne;
        margin: 0% 5% 0% 5%;
        box-shadow: 0px 0px 10px 2px black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0% 4% 0% 4%;
        img {
            // border: 2px dotted red;
            box-shadow: 0px 0px 10px 2px black;
        }
    }
}

.box-two{
    display: flex;
    margin: 10% 0%;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3rem;



    .achievements-background{
        background-color: $colorOne;
        margin: -2% 2%;
        box-shadow: 5px 5px 10px 5px black;

        .achievements{
            box-shadow: 5px 5px 10px 5px black;
            margin: 5% 5%;
            padding: 10%;
            background-color: white;
            // border: 2px dotted red;
            
        }
    }
}

.box-three {
        box-shadow: 5px 5px 10px 5px black;
        padding: 2% 0%;
        background-color: white;
        
        .img-background{
            padding: 2% 0%;
            margin: 2% 20%;
            background-color: $colorOne;
            box-shadow: 5px 5px 10px 5px black;
        
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;

            box-shadow: 0px 0px 10px 2px black;
        }

    }
}
