@import "./Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

// desktop
@media screen and (min-width: 1200px) {
.resume-container{
    background-color: rgba(40, 47, 72, .8);
    // display: flex;
    // border: 2px dotted red;
    margin: 10% 5%;
    padding: 2%;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 2vw;
    border: 1px solid $colorOne;

    
    .resume-box-one{
        justify-content: flex;
        border-radius: 1.5vw;


        .summary-box{
            margin: 3%;
            background-color: white;
            box-shadow: 0px 0px 10px 0px black;
            border-radius: 1.5vw;

        }
        .techstack-box{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1.5vw;

            padding: 1em;
            margin: 3%;
            background-color: white;
            box-shadow: 0px 0px 10px 0px black;
        }
        .exp-box{
            border-radius: 1.5vw;

            text-align: left;
            padding: 3em;
            margin: 3%;
            background-color: white;
            box-shadow: 0px 0px 10px 0px black;
        }
    }}

    .box-two{
        display: flex;
        margin: 10% 0%;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Calistoga', serif;
        font-size: 1.3rem;
        .achievements-background{
            
            flex:1;
            border: 1px solid $colorOne;
            background-color: rgba(40, 47, 72, .8);
            border-radius: 2vw;
            margin: -2% 2%;
            box-shadow: 5px 5px 10px 5px black;
    
            .achievements{
                flex:1;
                box-shadow: 5px 5px 10px 5px black;
                margin: 5% 5%;
                padding: 10%;
                border-radius: 1.5vw;
                background-color: white;
    
                display: flex;
                flex-direction: column;
                justify-content: center; /* Vertically center content */
                align-items: center;
                // border: 2px dotted red;
                
            }
        }
    }
}

// mobile
@media screen and (max-width: 1200px) {
.resume-container{
    background-color: rgba(40, 47, 72, .8);
    // display: flex;
    // border: 2px dotted red;
    margin: 5% 5%;
    padding: 2% 0%;
    border: 1px solid $colorOne;
    border-radius: 2vw;

    box-shadow: 0px 0px 10px 0px black;
    
    .resume-box-one{
        justify-content: flex;
        border-radius: 3vw;

        
        .summary-box{
            margin: 3%;
            background-color: white;
            border-radius: 3vw;
            box-shadow: 0px 0px 10px 0px black;
        }
        .techstack-box{
            margin: 3%;
            padding: 1.5em;
            border-radius: 3vw;
            background-color: white;
            box-shadow: 0px 0px 10px 0px black;
        }
        .exp-box{
            text-align: center;
            margin: 3%;
            padding: 1.5em;
            border-radius: 3vw;
            background-color: white;
            box-shadow: 0px 0px 10px 0px black;
        }
    }
}
.box-two{
    // display: flex;
    margin: 10% 0%;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3rem;

    .achievements-background{
        flex:1;
        background-color: rgba(40, 47, 72, .8);
        border: 1px solid $colorOne;
        margin: 2%;
        box-shadow: 5px 5px 10px 5px black;
        border-radius: 3vw;


        .achievements{
            flex:1;
            box-shadow: 5px 5px 10px 5px black;
            margin: 5%;
            padding: 5%;
            background-color: white;
            border-radius: 3vw;

            display: flex;
            flex-direction: column;
            justify-content: center; /* Vertically center content */
            align-items: center;
            // border: 2px dotted red;
            
        }
    }
}


}
