@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
    font-size: 1.2rem;
    
    text-align: center;
    margin: 0%;
    padding: 0%;
    
    background-image: url(/src/images/crumbledpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;

}

.title{
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
}